{% extends 'Base.html' %}
{% block content %}
<html>
<body>
<form method="Post">{% csrf_token %}
<div align="center">
<h2>Project Status Tracker</h2>
</div>

<br>
<br>

<div style="height: 400px; overflow: auto" scrollable>
<table class="table table-dark">

        <tr>
             <th> ProjectId</th>
             <th> WorkOrder</th>
             <th> WorkOrderStatus</th>
             <th> CircuitId</th>
             <th> CircuitStatus</th>
             <th> CRD</th>
             <th> Speed</th>
             <th> Updates</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{item.ProjectId}}</td>
            <td>{{item.WorkOrder}}</td>
            <td>{{item.WorkOrderStatus}}</td>
            <td>{{item.SvcNo}}</td>
            <td>{{item.SvcOrderStatus}}</td>
            <td>{{item.CRD}}</td>
            <td>{{item.Speed}}</td>
            <td>{{item.Updates}}</td>
        </tr>
    {% endfor %}
</table>



</div>


</form>
</body>
</html>
{% endblock %}