{% extends 'Base.html' %}

{% block content %}
<html>
<body>
<form method="Post">{% csrf_token %}
<div align="center">
<h2>Project Status Tracker</h2>
</div>

<div align="right">
            <button type="submit" name='Search1 'class="btn btn-outline-success mb-2 mr-3"  value="Export">ExportToExcel</button>
</div>
<div style="height: 400px; overflow: auto" scrollable>
<table class="table table-bordered table-hover">
        <thead>
        <tr>
             <th> ProjectId</th>
             <th> CircuitId</th>
             <th> CircuitStatus</th>
             <th> CRD</th>
             <th> WorkOrder</th>
             <th> WorkOrderStatus</th>
             <th> Speed</th>
             <th> Updates</th>
        </tr>
    </thead>
        {% for item in data %}
        <tr>
            <td>{{item.ProjectId}}</td>
            <td>{{item.SvcNo}}</td>
            <td>{{item.SvcOrderStatus}}</td>
            <td>{{item.CRD}}</td>
            <td>{{item.WorkOrder}}</td>
            <td>{{item.WorkOrderStatus}}</td>
            <td>{{item.Speed}}</td>
            <td>{{item.Updates}}</td>
        </tr>
    {% endfor %}
</table>



</div>


</form>
</body>
</html>
{% endblock %}