{% extends 'Base.html' %}

{% block content %}
    <div align="center">
        <h2>Open Circuit Management</h2>
    </div>

    {% if msg != '' %}
        <div class="alert {{ style }} alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <nav class="navbar navbar-light bg-light ">
        <form name="action" class="form-inline" method="post">{% csrf_token %}

            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" checked="checked" value="ProjectId" name="Criteria"
                       class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">Project ID</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" value="CircuitId" name="Criteria"
                       class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">Circuit ID</label>
            </div>

            <input class="form-control mr-sm-2 my-2 " style="width:380px" name="text" type="search" placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" id="search"
                    onclick="document.getElementById('search').enabled = true" type="submit" name="Search"
                    value="Search">Search
            </button>
            <button type="submit" id="Export" name='Export' class="btn btn-outline-success mx-3" value="Export">
                ExportToExcel
            </button>

        </form>


        <form method="get">
            <div align="right">
                <button type="submit" id='com' name='Comments ' class="btn btn-outline-success" value="UpdateComments"
                        disabled>Update Comments
                </button>
            </div>


    </nav>


    <br/>
    <style>


    </style>

    <div style="height: 400px; overflow: auto" scrollable>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                 <th class="align-middle text-center"> Project Id</th>
                 <th class="align-middle text-center"> Service Ref</th>
                 <th class="align-middle text-center"> Service Status</th>
                 <th class="align-middle text-center"> Customer Received Date</th>
                 <th class="align-middle text-center"> Work Order</th>
                 <th class="align-middle text-center"> Work Order Status</th>
                 <th class="align-middle text-center"> Speed</th>
                 <th class="align-middle text-center"> Order type</th>
                 <th class="align-middle text-center"> Task</th>
                 <th class="align-middle text-center"> Next Escalation Level</th>
                 <th class="align-middle text-center"> Next Escalation Date</th>
                 <th class="align-middle text-center"> Escalation History</th>
                 <th class="align-middle text-center"> Updates</th>
                <th class="align-middle text-center"> Comments</th>
                <th class="align-middle text-center"> </th>
            </tr>
            </thead>
            <body>
            {% for item in data %}
                <tr>
                    <td class="align-middle text-center">{{item.ProjectId}}</td>
                    <td class="align-middle text-center">{{item.SvcNo}}</td>
                    <td class="align-middle text-center">{{item.SvcOrderStatus}}</td>
                    <td class="align-middle text-center" style="min-width:125px">{{item.CRD}}</td>
                    <td class="align-middle text-center">{{item.WorkOrder}}</td>
                    <td class="align-middle text-center">{{item.WorkOrderStatus}}</td>
                    <td class="align-middle text-center">{{item.Speed}}</td>
                    <td class="align-middle text-center">{{item.order_type}}</td>
                    <td class="align-middle text-center"style="min-width:125px">{{item.task_name}}</td>
                    <td class="align-middle text-center">{{item.next_escalation_level}}</td>
                    <td class="align-middle text-center">{{item.next_escalation_date}}</td>
                    <td class="align-middle text-center">{{item.escalation_history}}</td>
                    <td class="align-middle text-center" style="min-width:200px">{{item.Updates}}</td>
                    <td><textarea id="AreaCom" class="Com" rows="4" cols="50" maxlength="500" name="area"
                                  placeholder="Enter your comments here"></textarea></td>
                    <td class="align-middle text-center"><input type="checkbox" class="Updates" name="team" value="{{ item.CircuitId }}"
                               onchange="document.getElementById('com').disabled = !this.checked;"/></td>

                </tr>
            {% endfor %}
        </body>
        </table>


    </div>

    </form>
{% endblock %}
