<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>SOW4</title>

    <style>
        i {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }

        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
        th {
          background: lightblue;
          position: sticky;
          top: 0;

        }

        {% block css%}
        {% endblock %}
    </style>
    <!--
          th{background: black;
          box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);}
           -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>

<body>



<div class="d-flex" id="wrapper">

    <!-- Sidebar -->

    <div class="bg-light border-right  " id="sidebar-wrapper">
        <a href="/Home" class="list-group-item list-group-item-action bg-dark text-primary sidebar-heading">Home</a>
        <div class="list-group list-group-flush ">
            <a href="/Home/SearchWo" class="list-group-item list-group-item-action bg-light">Search Work Orders</a>
            <a class="list-group-item list-group-item-action bg-light" data-toggle="collapse" href="#collapseExample"><i
                    class="arrow down"></i> Tracker</a>
            <div class="collapse" id="collapseExample">
                <ul class="nested">

                    <li style="list-style-type: square"><a href="/Home/ProjectStatusTracker"
                                                           class="list-group-item list-group-item-action bg-light">Project
                        Status Tracker</a></li>
                    <li style="list-style-type: square"><a href="/Home/ProjectClosureApproval"
                                                           class="list-group-item list-group-item-action bg-light">Project
                        Closure Approval</a></li>
                    <li style="list-style-type: square"><a href="/Home/BillingTracker"
                                                           class="list-group-item list-group-item-action bg-light">Circuit
                        Billing Tracker</a></li>
                </ul>
            </div>
            <a href="/Home/WorkOrderEscalation" class="list-group-item list-group-item-action bg-light">Work Order
                Escalation</a>
            <a href="/Home/OpenCircuitManagement" class="list-group-item list-group-item-action bg-light">Open Circuit
                Management</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div class="container">
        <div class="row alert alert-secondary py-0">
            <div class="col-xl-11 ">
                <h5 class="text-capitalize font-italic text-right py-2"> Welcome {{ Username }} </h5>
            </div>
            <div class="col-xl-1 py-1">
                <form method="POST">{% csrf_token %}
                    <button class="btn btn-outline-success "value="submit" name="Logout">Logout</button>
                </form>
            </div>

        </div>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

    <!-- Optional JavaScript -->
    {% block script %}
    {% endblock %}
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>



</body>

</html>
