{% extends 'Base.html' %}

{% block content %}

    {% if msg != '' %}
        <div class="alert {{style}} alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="text-warning  py-0" role="alert">
        <marquee>Note: Only closed circuits will be displayed on this page</marquee>
    </div>

    <div align="center">
        <h2>Billing Tracker</h2>
    </div>

    <nav class="navbar navbar-light bg-light ">
        <form name="action" value="Search" class="form-inline" method="post">{% csrf_token %}
            <h5 class = "">Search using Circuit ID : </h5>
            <input class="form-control mx-2 my-2"  style="width:380px" name="text" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="Search" value="Search">Search</button>
            <button class="btn btn-outline-success mx-5 my-2 my-sm-0" id="Bill" type="submit" name='Bill_Button' class="btn btn-success mr-3">Generate Bill</button>
        </form>
    </nav>

        <div style="height: 400px; overflow: auto" scrollable>
            <br>
            <table class="table table-bordered table-hover">

                <tr>
                    <th> ProjectId</th>
                    <th> CircuitId</th>
                    <th> CircuitStatus</th>
                    <th> WorkOrder</th>
                    <th> WorkOrderStatus</th>
                    <th> CRD</th>
                    <th> Speed</th>
                    <th> Updates</th>
                </tr>
                {% for item in data %}
                    <tr>
                        <td>{{ item.ProjectId }}</td>
                        <td>{{ item.SvcNo }}</td>
                        <td>{{ item.SvcOrderStatus }}</td>
                        <td>{{ item.WorkOrder }}</td>
                        <td>{{ item.WorkOrderStatus }}</td>
                        <td>{{ item.CRD }}</td>
                        <td>{{ item.Speed }}</td>
                        <td>{{ item.Updates }}</td>
                        <!--                <td><input type="checkbox" name="team" value="{{item.SvcNo}}"-->
                        <!--                           onchange="document.getElementById('Generate Bill').disabled = !this.checked;"/></td>-->
                    </tr>
                {% endfor %}
            </table>
            <Br>


        </div>



    </body>
    </html>
{% endblock %}