{% extends 'Base.html' %}

{% block content %}

<form method="Post">{% csrf_token %}
<div align="center">
<h2>Search using Project Id/ Circuit ID</h2>
</div>

<nav class="navbar navbar-light bg-light ">

<form  name="action" value="Search" class ="form-inline" method="post">{% csrf_token %}

<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline1" checked="checked" value="ProjectId" name="Criteria" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline1">Project ID</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline2" value="SvcNo" name="Criteria" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline2">Circuit ID</label>
</div>
  <br>

    <input class="form-control mr-sm-2 my-2 " style="width:400px" name="text" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="Search" value="Search">Search</button>

</form>
    <div align="right">
            <button type="submit" name='Search1 'class="btn btn-outline-success mr-3"  value="Export">ExportToExcel</button>
    </div>
</nav>

<br/>
<div style="height: 400px; overflow: auto" scrollable>
<table class="table table-bordered table-hover">
    <thead>
        <tr >
             <th> ProjectId</th>
             <th> CircuitId</th>
             <th> CircuitStatus</th>
             <th> CRD</th>
             <th> WorkOrder</th>
             <th> WorkOrderStatus</th>
             <th> Speed</th>
             <th> Updates</th>
        </thead>
        {% for item in data %}
        <tr>
            <td>{{item.ProjectId}}</td>
            <td>{{item.SvcNo}}</td>
            <td>{{item.SvcOrderStatus}}</td>
            <td>{{item.CRD}}</td>
            <td>{{item.WorkOrder}}</td>
            <td>{{item.WorkOrderStatus}}</td>
            <td>{{item.Speed}}</td>
            <td>{{item.Updates}}</td>
        </tr>
    {% endfor %}
</table>



</div>


{% endblock %}