{% extends 'Base.html' %}

{% block css%}
    th {
      background: grey;
      position: sticky;
      top: 0;
      <!--
      background: black;
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
       -->
    }
form-inline {
    border-radius: 33px;
}
{% endblock %}

{% block logout %}

    <form method="POST">{% csrf_token %}
        <div align="center">
            <button class="btn-success nav-link navbar " value="submit" name="Logout">Logout</button>
        </div>
    </form>

{% endblock %}
{% block content %}


<div align="center">
<h2>Work Order Escalation</h2>
</div>

<br/>
<br/>
<nav class="navbar navbar-light bg-light ">

<form  name="action" class ="form-inline" method="post">{% csrf_token %}

    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline1" checked="checked" value="ProjectId" name="Criteria" class="custom-control-input">
      <label class="custom-control-label" for="customRadioInline1">Project ID</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline2" value="SvcNo" name="Criteria" class="custom-control-input">
      <label class="custom-control-label" for="customRadioInline2">Circuit ID</label>
    </div>

    <input class="form-control mr-sm-2 my-2 " style="width:380px" name="text" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" id ="search" type="submit" name="Search" value="Search">Search</button>
    <button type="submit" name='Search1 'class="btn btn-outline-success mx-3" onchange="document.getElementById('search').disabled = !this.click  value="Export">ExportToExcel</button>

</form>


<div align="right">
     <script type="text/javascript">
        function sendEmail(){
                var a = document.getElementsByClassName('Email');

                for(i =0; i< a.length; i++){
                    temp =String(a[i].value)
                    console.log((temp.split(',')[0]))

                    if(a[i].checked == true)
                    {   try{
                                  var theApp = new ActiveXObject("Outlook.Application");
                                  var objNS = theApp.GetNameSpace('MAPI');
                                  var theMailItem = theApp.CreateItem(0); // value 0 = MailItem
                                  theMailItem.to = (a[i].value);
                                  theMailItem.Subject = (a[i].value);
                                  theMailItem.Body = (a[i].value);
                                  theMailItem.display();
                              }
                              catch (err) {
                                 alert(err.message);
                              }
                    }
                }
        }
    </script>
    <button id="Escalate"  name='Escalate_Button 'class="btn btn-outline-success"  onclick="sendEmail()" disabled >Escalate</button>
</div>
</nav>

<br/>

<div style="height: 400px; overflow: auto" scrollable>
<table class="table table-dark">
    <thead>
        <tr >
             <th> ProjectId</th>
             <th> WorkOrder</th>
             <th> WorkOrderStatus</th>
             <th> CircuitId</th>
             <th> CircuitStatus</th>
             <th> CRD</th>
             <th> Speed</th>
             <th> Updates</th>
             <th> Escalate </th>
        </tr>
        </thead>
        {% for item in data %}
        <tr>
            <td>{{item.ProjectId}}</td>
            <td>{{item.WorkOrder}}</td>
            <td>{{item.WorkOrderStatus}}</td>
            <td>{{item.SvcNo}}</td>
            <td>{{item.SvcOrderStatus}}</td>
            <td>{{item.CRD}}</td>
            <td>{{item.Speed}}</td>
            <td>{{item.Updates}}</td>
            <td><input type="checkbox"  class = "Email" name="team" value="{{item.CircuitId}}"  onchange="document.getElementById('Escalate').disabled = !this.checked;"/></td>

        </tr>
    {% endfor %}
</table>



</div>


{% endblock %}